 
# Ignore build and object directories
bin/
obj/

# Ignore user-specific files
*.user

# Ignore application configuration files containing sensitive information
app.config
Newtonsoft.Json.dll
Newtonsoft.Json.pdb
Newtonsoft.Json.xml
PowerShell Sample 2.ps1
PowerShell Sample.ps1
# Optional: Ignore other system-specific files
.vscode/
*.suo
*.userosscache
*.userprefs

# Ignore temporary files
*.tmp
*.log
*.temp
*.cache
